@import "./variables.scss";

// html
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  height: 100vh;
  padding: 0;
  margin: 0;
  // overflow: hidden;
}

// control
#control {
  margin: 0 1rem 0;
  height: 50vh;
  overflow-y: scroll;
  &__settings {
    margin: 1rem 0 0 0;
    button,
    select,
    input {
      min-width: 50px;
      min-height: 30px;
    }
    label {
      display: inline-block;
      min-width: 180px;
    }
    div {
      margin: 0 0 0.5rem 0;
    }
  }
}

// view
#view {
  background: #008000;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  padding: 3rem;
  overflow-y: scroll;
  transition: height ease 0.1s;

  #result-text {
    font-size: 1rem;
    transition: font-size ease 0.1s;
    position: sticky;
    bottom: 0;

    .is-listening {
      opacity: 0.75;
    }
  }
}

// message style
.message__style-- {
  &default {
    color: #fff;
  }
  &bubble {
    position: relative;
    background: $bubble-color;
    padding: 20px;
    text-align: left;
    color: #333333;
    border-radius: 15px;
    &:after {
      content: "";
      border: solid transparent;
      border-color: rgba(90, 230, 40, 0);
      border-top-width: 10px;
      border-bottom-width: 10px;
      border-left-width: 30px;
      border-right-width: 30px;
      border-right-color: $bubble-color;
      width: 0;
      height: 0;
      pointer-events: none;
      position: absolute;
      margin-top: -10px;
      right: 100%;
      top: 50%;
    }
  }
}
